<section class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="widget wviolet">
          <div ht-widget-header title="{{vm.title}}"></div>
          <div class="widget-content user">
            <md-input-container>
              <label>Columns</label>
              <md-select
                ng-model="vm.selectedColumns"
                md-no-asterisk="true"
                multiple
                md-selected-text="vm.selectedText"
                md-on-close="vm.onClose(vm.selectedColumns)">
                <md-option ng-repeat="column in vm.columns" value="{{column}}">{{column}}</md-option>
              </md-select>
            </md-input-container>
            <p ng-if="vm.selectedColumns">You ordered columns: {{vm.printSelectedColumns()}}.</p>
          </div>
          </div>
          <div class="widget-foot">
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
